.g-container {
    padding: 0 5px;
    margin: 30px 10px;
    .g-title {
        font-weight: bold;
        color: #009e1dde;
    }
}

.g-wrapper {
    background-color: #f0f0f0;
    padding: 10px 15px 50px 15px;

    .g-search {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        padding-right: 8px;
        grid-gap: 10px;
        padding-top: 20px;

        .g-search-input {
            border: 1px solid #d5d5d5;
            border-radius: 5px;
            min-width: 100%;
        }
    }

    .g-box-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        color: #444;
        margin: 10px 0px;

        .box {
            background-color: #fff;
            border: 1px solid #d5d5d5;
            border-radius: 5px;
            font-size: 14px;
            margin: 10px 0px;

            .g-type-top {
                display: flex;
                flex-direction: column;
                min-height: 100px;
                margin: 7px;

                .g-type-title {
                    display: flex;
                    .g-genre {
                        font-size: 20px;
                        flex-basis: 50%;
                    }
                    .g-choice {
                        flex-basis: 50%;
                        text-align: end;
                    }
                }
                .g-platform {
                    margin-top: 6px;
                    font-size: 12px;
                }
            }

            .g-genre,
            .g-platform {
                color: #9e948f;
            }

            .g-type-bottom {
                display: flex;

                .g-genre,
                .g-rating {
                    flex: 1;
                    border-top: 1px solid #d3d3d3;
                    padding: 6px;
                    font-size: 12px;
                }
                .g-rating {
                    text-align: right;
                    color: #ff2929;
                }
            }
        }
    }
    // .g-footer {
    // }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .g-wrapper {
        .g-box-wrapper {
            grid-template-columns: auto;
        }
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    .g-wrapper {
        .g-box-wrapper {
            grid-template-columns: auto;
        }
    }
}
