<header class="header">

    <div class="grid-wrapper">

        <div class="header-logo">
            <a href="" class="header-link header-logo">ZenduForms</a>
        </div>

        <div class="header-nav-links">
            <a routerLink="/forms" routerLinkActive="active" class="header-link">
                <i class="pi pi-align-justify" style="font-size: 1rem"></i>
                <span class="header-title">Forms</span>
            </a>
            <a href="" class="header-link">
                <i class="pi pi-users" style="font-size: 1rem"></i>
                <span class="header-title">Customers</span>
            </a>
            <a routerLink="/submissions" class="header-link" routerLinkActive="active">
                <i class="pi pi-sliders-v" style="font-size: 1rem"></i>
                <span class="header-title">Submissions</span>
            </a>
            <a href="" class="header-link">
                <i class="pi pi-clock" style="font-size: 1rem"></i>
                <span class="header-title">History</span>
            </a>
            <a href="" class="header-link">
                <i class="pi pi-chart-bar" style=" font-size: 1rem"></i>
                <span class="header-title">Reports</span>
            </a>
            <a href="" class="header-link">
                <i class="pi pi-chart-bar" style="font-size: 1rem"></i>
                <span class="header-title">Workflow</span>
            </a>
        </div>

        <div class="header-logout-options">
            <a href="" class="header-link">
                <i class="pi pi-bell" style="font-size: 1rem"></i>
            </a>
            <a href="" class="header-link">
                <i class="pi pi-sign-out" style="font-size: 1rem"></i>
            </a>
        </div>

    </div>

</header>